<header class="ds-header" id="site-header">
    <div class="container">
        <div class="ds-header-inner">
          <!-- logo -->
          <a href="index.html" class="ds-logo">
            <span>T</span>TAKUYA KUSHIYAMA
          </a>
          <!-- logo -->
          <!-- social -->
          <ul class="ds-social">
            <li><a href="https://www.linkedin.com/in/takuya-kushiyama-1911a5203/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://github.com/Tak-Kushiyama" target="_blank"><i class="fa fa-github"></i></a></li>
          </ul>
          <!-- social -->
        </div>
    </div>
</header>
