@import '../shared/shared';

.ds-about-section{ padding-top: 60px; padding-bottom: 120px; }
.ds-about-section p{ color: #373737; font-size: 24px; line-height: 40px; font-weight: 300; margin-bottom: 60px; }
