<div class="ds-about-section">
    <div class="container">
        <section>
            <h2 class="ds-heading">About Me</h2>
            <ul class="history">
                <li class="history-date">2007</li>
                <ul class="history-detail">
                    <li>B.A of Information Science, Yamaguchi University</li>
                </ul>
                <li class="history-date">April 2008 - Present</li>
                <ul class="history-detail">
                    <li>Software Engineer in JRCS CO.LTD.</li>
                </ul>
            </ul>
        </section>
    </div>
</div>
