@import '../shared/shared';

.ds-experience-section{ padding-bottom: 120px; }
.ds-experience-list section{ padding-right: 70px; }
.ds-experience-list{ padding-top: 15px; }
.ds-officename{ font-size: 24px; font-weight: 300; margin-bottom:10px; }
.ds-experience-list span{ display: block; }
span.ds-year{ color: #373737; font-size: 14px; font-weight: 700; padding-bottom: 10px; }
span.ds-department{ color: #373737; font-weight: 500; font-size: 18px; padding-bottom: 30px; }
.ds-experience-list p{ font-size: 16px; line-height: 24px; font-weight: 300; }
.ds-experience-list ul{ list-style: none; padding: 0; margin: 0; padding-top: 10px; }
.ds-experience-list ul li{font-size: 16px; line-height: 24px; font-weight: 300; padding-left: 28px; position:relative; margin-bottom: 20px;}
.ds-experience-list ul li:before{ content: ""; position: absolute; left: 0; top: 10px; border-radius: 100%; width: 8px; height: 8px; background-color: #373737; }